html{
    font-family:  sans-serif, Arial, Helvetica;
}

body{
    margin: 0;
    color: #767676;
}

h1{
    font-size: 48px;
    color: #404040;
    font-weight: 600;
}
h2{
    font-weight: 600;
}

p{
    font-size: 24px;
}

button{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 100vh;
    background-color: rgba(0, 0, 0, 0.00);
    border-style: solid;
    border-width: 3px;
    border-color: #767676;
    color: #767676;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover{
    color: #1f1f1f;
    font-weight: 700;
    border-color: #1f1f1f;
    transform: scale(1.05,1.05);
}


nav{
    background-color: #F2F7FA;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: 0.4s ease-in-out;
}

.main-nav{
    display: flex;
    list-style: none;
    width: 80%;
    margin: auto;
    padding: 0;
}

.main-nav img{
    margin-left: 10px;
}

li{
    padding: 10px 0px;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

li a{
    margin: 0px 30px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

li a:hover{
   font-weight: bold;
}

#links{
    display: flex;
    margin-left: auto;
}

.top{
    padding-top: 300px;
    padding-bottom: 200px;
    background-color: #F2F7FA;
}

.top-other{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #F2F7FA;
    text-align: center;
}

.top-container{
    width: 80%;
    margin: auto;
}

.top-picture-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#profile-picture{
    text-align: center;
    margin-bottom: auto;
}

#profile-picture img{
    border-radius: 10px;
    box-shadow: 0px 3px 18px 5px rgba(0, 0, 0, 0.3);
}

.top-references{
    background-color: white;
    padding: 5px;
    margin-top: -7vh;
    border-radius: 100vh;
    box-shadow: 0px 8px 18px 5px rgba(0, 0, 0, 0.09);
    display: grid;
    z-index: 1;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
}

.top-ref-container{
    text-align: center;
    padding: 5px 0px;
    margin:auto;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.top-ref-container:hover{
    transform: scale(1.1, 1.1);
}

.top-ref-container p{
    font-size: 18px;
    margin: -5px 0px 0px 0px;
}



.middle{
    width:80%;
    margin: auto;
}

.about{
    margin-top:100px;
}

.about p{
    width: 60%;
}

.portfolio{
    margin-top: 100px;
}

.portfolio h1{
    float: right;
}

div{
    clear: right;
}

.portfolio-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.portfolio-grid-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.1);
    margin: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.portfolio-grid-container:hover{
    /* transform: scale(1.05, 1.05); */
    /* background-color: rgb(255, 68, 0); */
    transform: translate(0px, -10px);

}

.portfolio-grid-container img{
    display: block;
    margin: 20px auto;
}

.portfolio-grid-container h2{
    margin:0px 0px 0px 10px;
    font-size: 24px;
}
.portfolio-grid-container p{
    margin:0px 0px 10px 10px;
    font-size: 18px;
}

.skills{
    margin-top:100px;
}

.skills-title{
    width:  60%;
    display: flex;
    justify-content: space-between;
}

.skills-title h2{
    margin: auto 0px;
}

.skills-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 18px 5px rgba(0, 0, 0, 0.09);
    width: 60%;
    padding: 1px 30px;
    margin: 0px;
}

.progress-container{
    display: flex;
}

.progress-bar{
    width: 100%;
    border-width: 1px;
    margin: 25px 0px 25px 10px;
    border-radius: 100vh;
    border-style: solid;
    border-width: 1px;
    color: #DDDDDD;
    background-clip: content-box;
    padding: 5px;
    transition: 0.3s ease-in-out;
}

.inside-progress-bar{
    width: 70%;
    border-radius: 100vh;
    background-color: black;
    background-image: linear-gradient(to right, #8390FC , #62BDFC);
    box-shadow: 3px 10px 18px 0px rgba(104, 176, 246, 0.5);
    color: white;
    /* padding-left: 10px; */
    padding: 2px 10px;
}

.progress-bar:hover{
    transform: scale(1.03, 1.03);
}


.progress-text{
    width: 150px;
}

#c-progress{width: 70%}
#java-progress{width: 80%}
#swift-progress{width: 90%}
#javascript-progress{width: 70%}
#html-css-progress{width: 70%}
#sql-progress{width: 90%}
#node-progress{width: 80%}
#php-progress{width: 60%}



footer{
    background-color: #404040;
    color: white;
    position: bottom;
    text-align: center;
    padding: 20px 0px;
    margin-top: 100px;
}

footer h2{
    font-size: 36px;
}

footer p{
    font-size: 18px;
    font-weight: 100;
    padding: 0px 30px;
}

.contact-info{
    width:80%;
    margin: auto;
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
}






@media only screen and (max-width: 1039px) {
    .top-picture-container{
        grid-template-columns: repeat(auto-fill, minmax(409px, 1fr));
    }

    #profile-picture{
        text-align: left;
    }

    .top{
        padding-top: 20px;
    }
}